body {
    margin: 0;
    background-color: #e5e5e5;
    font-family: Times New Roman, serif;
    letter-spacing: 0.02em;
    font-size: 1.4em;
}

body.site {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.content {
    flex: 1;
}

footer {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

#obj-container {
    width: 100%;
    height: 100%;
}

.wrapper {
    position: absolute;
    display: inline-block;
    margin: 1.2em;
}

#navigation {
    text-decoration: underline;
    color: blue;
}

.description {
    margin-top: 2em;
    max-width: 30em;
}

.img-wrapper {
    display: block;
    width: 35vw;
}

img {
    width: 33%;
    padding-right: 1em;
}

.use {
    width: 70%;
}

.bottle {
    width: 30%;
}

.colophon {
    font-size: 0.7em;
}

#send {
    margin-top: 2em;
}

#select {
    text-decoration: underline;
    color: blue;
    text-align: center;
}

input {
    margin-top: 0.6em;
    font-size: 0.8em;
    color: grey;
}

@media only screen and (max-device-width: 480px) {
    body {
        font-size: 1.5em;
    }

    .wrapper {
        display: inline-block;
    }

    .description {
        width: 100%;
    }

    .img-wrapper {
        width: 100%;
    }

    .bottle, .use {
        width: 100%;
    }
}

@media only screen and (max-width: 2000px) {
    .colophon {
        font-size: 0.7em;
        padding-bottom: 1.2em;
    }
}